#timeline_content {
    text-align: left;
  }
  
  /* Timeline */
  .timeline {
    border-left: 4px solid #31251d; // Timeline color
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(223, 216, 200, 0.212); // Background color for timeline content
    color: rgba(49, 37, 29, 0.8); // Font color
    margin: 50px auto;
    position: relative;
    font-size: 1rem;
    padding: 50px;
    list-style: none;
    font-weight: 100;
    max-width: 90%; // Keeps within container's width
    text-align: left;
  }
  .event{
    padding-top: 50px;
  }

  .timeline .event {
    border-bottom: 1px dashed rgba(49, 37, 29, 0.356); // Dashed line color
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: -80px;
    color: rgba(49, 37, 29, 0.733); // Date font color
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 18px;
    min-width: 120px;
  }
  
 .timeline .event:after {
    box-shadow: 0 0 0 4px #31251d; // Dot outer color
    left: -57.85px;
    background: #dfd8c8; // Dot inner color
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  
  .content {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    padding: 0;
  }
  
  .contentContainer {
    font-size: 20px;
  }
  
  .content_italic {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
  }
  
  .heading {
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }
  
  /* Responsive Styling */
  @media screen and (min-width: 1200px) {
  
    .content {
      font-size: 20px;
    }
  
    .content_italic {
      font-size: 20px;
    }
  
    .timeline {
      font-size: 1.2rem;
      max-width: 90%; // Ensures it aligns well within text-zone on larger screens
    }
    
    .timeline .event:before {
      font-size: 20px;
      left: -220px;
      top: 0;
    }

    .event{
        padding-top: 0;
      }
    
  }
  