@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Noto Sans JP', 'sans-serif';
  color: #31251d;
  background: #a39274;
  overflow: visible;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('./assets/cursor.svg'), auto;
}


@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}